body {
    background-image: url("../image/b1gbackground.png");
}

div.dice {
  float:left;
  width:32px;
  background:#FF1493;
  border:#999 1px solid;
  padding:10px;
  font-size:24px;
  text-align:center;
  margin:5px;

}

a:link, a:visited {
    background-color: #000000;
    color: magenta;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #0000FF;
}

.container {
  width: 700px;
  margin: 400px auto 50px auto;
  border: 1px solid white;
}
